############################
# Node / Package managers
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Next.js / Build outputs
############################
.next/
out/
dist/
build/

############################
# Nx cache
############################
.nx/
node_modules/.cache/

############################
# Environment files
############################
.env
.env.*
!.env.example

############################
# Prisma (IMPORTANT ⚠️)
############################
prisma/dev.db
prisma/*.db

############################
# Logs
############################
*.log
error.log

############################
# OS / Editor junk
############################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

############################
# Tests / Docs (prod image-д хэрэггүй)
############################
coverage/
docs/
*.md
*.spec.ts
*.spec.js
*.test.ts
*.test.js
*-e2e/

############################
# Git
############################
.git/
.gitignore

############################
# Docker files (optional)
############################
docker-compose.yml
